*#
*.iml
*.ipr
*.iws
*.jar
*.sh
!gradle/wrapper/gradle-wrapper.jar
!jars/*.jar
*.sw?
*~
.#*
.*.md.html
.DS_Store
.classpath
.factorypath
.gradle
.idea
.metadata
.project
.recommenders
.settings
.springBeans
/code
MANIFEST.MF
_site/
activemq-data
bin
build
!/**/src/**/bin
!/**/src/**/build
build.log
dependency-reduced-pom.xml
dump.rdb
interpolated*.xml
lib/
manifest.yml
out
overridedb.*
target
transaction-logs
.flattened-pom.xml
secrets.yml
.gradletasknamecache
.sts4-cache
/logs
postgresql
src/main/resources/application-dev.properties
src/main/resources/application*secrets.yml
src/main/resources/user-bootstrap.json
src/main/resources/static/
**/.venv

# dependencies
/frontend/node_modules
/frontend/build
/frontend/dist
/frontend/.idea
/frontend/node
/frontend.pnp
/frontend.pnp.js

# misc
/frontend/.env.local
/frontend/.env.development.local
/frontend/.env.test.local
/frontend/.env.production.local

/frontend/npm-debug.log*
/frontend/yarn-debug.log*
/frontend/yarn-error.log*

CLAUDE.md


